@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Obligatorio 1 - Programacion 3</h1>
    <p>Guillermo Plisich - 239377</p>
    <p>Diego Castillo - 296885</p>
</div>
