@model DTOs.DTOImpuesto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Impuesto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="IVA" class="control-label"></label>
                <input asp-for="IVA" class="form-control" />
                <span asp-validation-for="IVA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="entregaExpressComun" class="control-label"></label>
                <input asp-for="entregaExpressComun" class="form-control" />
                <span asp-validation-for="entregaExpressComun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="entregaExpressMismoDia" class="control-label"></label>
                <input asp-for="entregaExpressMismoDia" class="form-control" />
                <span asp-validation-for="entregaExpressMismoDia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="entregaComunMayorCien" class="control-label"></label>
                <input asp-for="entregaComunMayorCien" class="form-control" />
                <span asp-validation-for="entregaComunMayorCien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
